.detail-panel {
    will-change: transform;
    max-width: 600px;
    margin: 58px auto 10px;
    padding: 0;
    top: 0;
    left: 10px;
		right: 10px;
		background-color: white;

	&__header {
		max-width: 600px;
		margin: 0 auto;
		color: #fff;
		text-align: center;
		padding: 15px;
		font-size: 24px;
		background-color: pink;
	}

	&__content {
		padding: 1rem;
	}
}

.detail-header {
	display: flex;
	justify-content: center;
	align-items: center;

	&__detail {
		font-size: 14px;
		p {
			font-weight: bold;
		}
	}

	&__types {
		margin-bottom: 2rem;
	}

	&--monster-type {
		padding: 1rem;
    color: white;
    border-radius: .5rem;
		background-color: #337ab7bf;
		margin-right: 1rem;
	}
}

.detail-below {
	i {
		cursor: pointer;
	}
	&__header {
		margin-top: 2rem;
	}

	&__moves {
		padding: 1rem;
	}

	&__evolution{
		padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
	}

	&__moves--ul {
		column-count: 4;
		column-rule: dotted 1px #333;
		list-style-type: none;
	}
}