.login {
  width: 360px;
  padding: 15rem 0 0;
  margin: auto;

  &__title {
    text-align: center;
    color: #ff5eff;
  }

  &__form {
    background: white;
    max-width: 360px;
    padding: 45px;
    box-shadow: 10px 10px 5px -6px rgba(225,179,218,0.75);
  }

  &__input {
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
  }

  &__btn {
    text-transform: uppercase;
    background: #ff5effad ;
    width: 100%;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      background: #ff5eff;
    }
  }

  &__btn-cancel {
    @extend .login__btn; 
    background: #e81e1e ;
    &:hover,
    &:active,
    &:focus {
      background: #a91c1c;
    }
  }

  &__btn-content {
    display: flex;
  }

  &__message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;

    span {
      color: #ff5eff;
      cursor: pointer;
    }
  }
}

// Media Querys

@media (max-width: 420px) {
  .login {
    padding: 4rem;
  }
}